name: create-maven-archetype
on:
  - push
jobs:
  create-archetype:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: adopt
      - name: Create archetype using maven command
        run: 'mvn archetype:create-from-project'
      - name: Change working directory to archetype directory
      - run: 'cd target/generated-sources/archetype/'
      - name: Deploy archetype to Github maven package repository
        run: 'mvn deploy'